
<nav class="navbar nav shadow p-3 mb-5 bg-white rounde">
    <div class="row">
        <div class="col-md-2 logo">
            <a href="#">Pixogram</a>
        </div>

        <div class="col-md-8 center-block text-center">
                <span>
                    <a href="/uploadSingleMedia" class="active center-title">Upload Media</a>
                    <a href="/myMedia" class="active center-title">My Media</a>
                    <a href="/followers" class="active center-title">Followers/Following</a>
                </span>
        </div>

        <!-- Navbar content -->
        <div class="col-md-2 account-btn center-block text-center">
            <a href="/account">Account</a>
        </div>
    </div>
    <div class="row img-row">
        <div class="col-md-1">
            <img src="Images/default-user.jpg" class="img-fluid user-img">
        </div>
        <div class="col-md-11">
            <h4>WELCOME</h4>
        </div>
    </div>
</nav>
